.card-dorado {
    background-color: #d4af37; 
    color: white; 
    border: none; 
  }
  
  .card-dorado .card-title {
    font-weight: bold; 
  }
  
  .card-dorado:hover {
    background-color: #c59a2a; 
    transition: background-color 0.3s ease; 
  }
  
  a {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
.btn-dorado {
    background-color: #d4af37; 
    border: none; 
    color: white; 
  }
  
  .btn-dorado:hover {
    background-color: #c59a2a; 
    transition: background-color 0.3s ease; 
  }
  