
*{
    text-align: center;
    padding: 0;
    margin: 0 auto;
}
body {
    background-color: rgba(0, 0, 0, 0.85); 
    color: #FFD700; 
  }
  
  h2 {
    font-weight: 600; 
  }
  
  .text-gold {
    color: #FFD700;
  }
  
  input {
    border-radius: 0.5rem; 
    background-color: rgba(0, 0, 0, 0.7); 
    color: #FFD700;
  }
  
  input::placeholder {
    color: rgba(255, 215, 0, 0.5); 
  }
  
  input:focus {
    border: 1px solid #FFD700; 
    box-shadow: 0 0 5px rgba(255, 215, 0, 0.5);
  }
  
  button {
    transition: background-color 0.3s ease; 
    color: black; 
  }
  
  button:hover {
    background-color: #FFC107; 
  }
  